.logo {
    border-radius: 50%;
    padding: 5px;
    width: 50px;
    height: 50px;
}

body {
    background-color: #92a8d1;
    background-size: cover;
}

h1 {
    font-size: 8em;
}

.admin-panel {
    border: 1px solid #999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 15px;
}

.admin-panel:hover {
    opacity: 1;
}

.admin-panel a {
    display: block;
    margin: 5px 0;
}

a.edit, a.delete {
    display: none;
}