*.bac
migrations/*
staticfiles/
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 
*.env
celerybeat*
*sqlite
.postgres
