{% extends 'base.html' %}

{% block title %}
Login - {{ block.super }}
{% endblock %}



{% block content %}
        {% if user.is_authenticated %}
            {% block user_info %}
                <h2 class="title text-center"> User profile info </h2>
<div class="card card-body">
    <p> Username: {{ user.username }} </p>
    <p> First name: {{ user.first_name }} </p>
    <p> Last name: {{ user.last_name }} </p>
</div>
            {% endblock %}
        {% else %}
            <p>Your account does not have access to this page. Please login with the account that has access.</p>
            <p>Please login to see this page</p>
        {% endif %}


{% endblock %}

