{% extends 'blog/base_blog.html' %}

{% block title %}
 Post list
{% endblock %}

{% block content %}

    <h1 class="mb-5">Posts</h1>
    {% for post in page_obj.object_list %}
       {% include 'blog/includes/post_card_template.html' %}
    {% endfor %}

    {% if is_paginated %}

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a aria-disabled="true" class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
            </li>

            {% for n in paginator.page_range %}
                {% if page_obj.number == n %}
                    <li aria-current="page" class="page-item active">
                        <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                    </li>
                {% elif n > page_obj.number|add:-3 and n < page_obj.number|add:3 %}
                <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a aria-disabled="true" class="page-link" href="{{ next_url }}" tabindex="-1">Next</a>
            </li>
        </ul>
    </nav>
    {% endif %}

{% endblock %}
