{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>
        {% block title %}
        blog engine
        {% endblock %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'posts_list_url' %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
            </li>

            <li class="nav-item">
                <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Disabled</a>
            </li>
        </ul>
        <form action="{% url 'posts_list_url' %}" class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" name="search" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-2">
            {% block content %}
            content for you
            {% endblock %}
            {% if is_paginated %}

            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item {% if not prev_url %} disabled {% endif %}">
                        <a aria-disabled="true" class="page-link" href="{{ prev_url }}" tabindex="-1">Previous</a>
                    </li>

                    {% for n in page_object.paginator.page_range %}
                    {% if page_object.number == n %}
                    <li aria-current="page" class="page-item active">
                        <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                    </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                        <a aria-disabled="true" class="page-link" href="{{ next_url }}" tabindex="-1">Next</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% if request.user.is_authenticated and request.user.is_staff %}
<div class="admin-panel align-items-center">
    <a class="btn btn-outline-info" href="/admin">Admin</a>
    {% block admin-panel %}{% endblock %}
</div>
{% endif %}


</body>
</html>