{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" media="all">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>
        {% block title %}
            Such a lovely blog...
        {% endblock %}
    </title>
</head>

<body>
<!--<body background="{% static 'images/bg.svg' %}">-->
{% include 'footer.html' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-9">
                {% block content %}
                    There is no content for you
                {% endblock %}
            </div>
            <div class="col-3">
                {% include 'about.html' %}
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated and request.user.is_staff %}
        <div class="admin-panel align-items-center">
            <a class="btn btn-outline-info" href="/admin">Admin</a>
            {% block admin-panel %}

            {% endblock %}
        </div>
    {% endif %}
</body>
</html>
