{% extends 'base.html' %}

{% block title %}
 Home sweet home
{% endblock %}

{% block body_content %}
<div class="d-flex h-100 text-center text-white bg-dark" >
<div
     class="cover-container d-flex w-100 h-100 p-3 mb-auto flex-column"
     style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"
>
  <main class="py-5 my-auto">
   <h1>Look at me!</h1>
   <p class="lead">dot the i’s and cross the t’s</p>
   <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary border-white bg-white fw-light text-dark">Useless button</a>
   </p>
</main>
</div>
</div>
{% endblock %}
